{% extends "SIS/base.html" %}

{% block title %}Beweging toevoegen{% endblock title %}

{% block content %}
<br/>
<form action='/SIS/addMotionDetection/' method='post'>{% csrf_token %}
{{ form.as_p }}
<input type='submit' value='Deur openen' />
</form>
{% endblock content %}