<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="style.css" />
    <title>SIS: {% block title %}Home{% endblock title %}</title>
</head>

<body>
    <div id="sidebar">
        {% block sidebar %}
			<a href="/SIS/index/">Home</a>
			<a href="/SIS/addSensor">Voeg sensor toe</a>
            <a href="/SIS/addTemperature">Voeg temperatuur toe</a>
			<a href="/SIS/addAirComposition">Voeg luchtsamenstelling toe</a>
			<a href="/SIS/addAirPressure">Voeg luchtdruk toe</a>
			<a href="/SIS/addMotionDetection">Voeg beweging toe</a>
			<a href="/SIS/plotTemperature">Plot temperatuur</a>
			<a href="/SIS/plotAirComposition">Plot luchtsamenstelling</a>
			<a href="/SIS/plotAirPressure">Plot luchtdruk</a>
			<a href="/SIS/plotMotionDetection">Plot beweging</a>
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock content %}
    </div>
</body>
</html>