{% extends "SIS/base.html" %}

{% block title %}Home{% endblock title %}

{% block content %}
<body>
<br/><br/>
Huidige temperatuur in graden Celsius: {{currentT}}
<br/><br/>
Huidige luchtvochtigheid in %: {{currentLV}}
<br/><br/><br/><br/>
<form action="/SIS/index/" method ="post">{% csrf_token %}
Stel de temperatuur in:
<input type="number" name='newT' min="0" step="0.5">
<input type="submit" name="changeT" value="Instellen">
<br/><br/>
Stel de luchtvochtigheid in:
<input type="number" name='newLV' min="0" step="5">
<input type="submit" name="changeLV" value="Instellen">
<br/><br/>
</form>
</body>
{% endblock content %}