{% extends "SIS/base.html" %}

{% block title %}Grafiek - Luchtdruk{% endblock title %}

{% block content %}
<br/>
<head>
	<script src ="http://code.highcharts.com/highcharts.js"></script>
	<script src ="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <!-- code to include the highcharts and jQuery libraries goes here -->
    <!-- load_charts filter takes a comma-separated list of id's where -->
    <!-- the charts need to be rendered to                             -->
    {% load chartit %}
    {{ airpressurechart|load_charts:"container" }}
</head>
<body>
<form action="/SIS/plotAirPressure/" method ="post">{% csrf_token %}
    <div id='container'> Chart will be rendered here </div>
Voer een datum in (YYYY-MM-DD):
<input type="datetime" name='date'>
<input type="submit" name="Submit" value="Invoeren">
</body>
</form>
{% endblock content %}