{% extends "SIS/base.html" %}

{% block title %}Grafiek - beweging{% endblock title %}

{% block content %}
<head>
	<script src ="http://code.highcharts.com/highcharts.js"></script>
	<script src ="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.min.js"></script>
    <!-- code to include the highcharts and jQuery libraries goes here -->
    <!-- load_charts filter takes a comma-separated list of id's where -->
    <!-- the charts need to be rendered to                             -->
    {% load chartit %}
    {{ motiondetectionchart|load_charts:"container" }}
</head>
<body>
    <div id='container'> Chart will be rendered here </div>
</body>
{% endblock content %}